{% set curPage = 'aboutus' %}
{% set title = 'About Us' %}

{% extends "/student/base/base_blog.html" %}

{% block main_content %}

<div class="main-content w-70">
  <h4 class="page-title bg-white w-100">{{title}}</h4>
  <hr>
  <div class="bg-white p-4">
    <div>
      <a href="javascript:window.history.back()" class="btn btn-sm btn-warning mb-3"><- Back</a>
    </div>

    <div class="about_us">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, tenetur? Cum deleniti debitis inventore alias
        provident optio facilis velit quae qui, sit totam odio, ipsam explicabo ipsum illum excepturi quasi officiis
        fuga exercitationem nostrum. Facere eligendi natus quis, nulla quia velit eius consequuntur voluptatibus optio
        provident, blanditiis error recusandae voluptas?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nobis qui adipisci eaque ut sint a illo
        autem ex cum necessitatibus nam, quasi vitae aspernatur laudantium labore et? Quibusdam, sit similique.
        Obcaecati distinctio fugiat nobis reprehenderit atque laboriosam eius deleniti vitae veniam maxime qui odio,
        assumenda alias voluptates velit id dicta, nisi error, ipsam expedita delectus. Quaerat corrupti illum id
        expedita! Illo, nihil. Eos accusamus adipisci necessitatibus voluptatum earum, molestiae consequuntur omnis
        architecto aperiam consequatur fugit maiores. Asperiores, quisquam placeat.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem placeat expedita repudiandae accusantium
        laudantium ea aspernatur ipsam non, totam quia corporis minus aperiam possimus nam voluptatibus quidem aut.
        Illum maiores nisi accusantium totam magnam similique, aspernatur eius voluptates eos provident facilis, nobis
        iste cumque ipsum reprehenderit! Unde beatae aliquid eligendi maxime, architecto praesentium. Perspiciatis
        aliquid ipsum vero, doloremque nihil dolor!</p>
    </div>

  </div>
</div>

{% endblock %}