{% set curPage = 'changepassword' %}
{% set title = 'Change Password' %}

{% extends "/student/base/base.html" %}

{% block content %}

<div class="content container-md">
  <h3 class="page-title bg-white">{{title}}</h3>

  <div class="bg-white p-4">
    <form action="{{request.uri}}" method="post" id="changePassword">

      <div class="row mb-3 m-auto">
        <label for="password" class="col-md-2 col-12 col-form-label text-end required">New Password</label>
        <div class="col-md-8">
          <input type="password" class="form-control" name="password" id="password" required="required">
        </div>
      </div>

      <div class="row mb-3 m-auto">
        <label for="confirm_password" class="col-md-2 col-12 col-form-label text-end required">Confirm Password</label>
        <div class="col-md-8">
          <input type="password" class="form-control" name="confirm_password" id="confirm_password" required="required">
        </div>
      </div>

      <div class="row mb-3 m-auto">
        <div class="offset-md-2 col-md-4">
          <input type="submit" value="Update" class="btn btn-success w-100">
        </div>
      </div>

    </form>

  </div>

</div>


{% endblock %}