{% set curPage = 'reportedComments' %}
{% set title = 'Reported Comments' %}
{% set url = request.url %}

{% extends "/admin/base/base.html" %}

{% block content %}

<div class="border bg-light p-2 my-2">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb mt-2">
      <li class="breadcrumb-item"><a href="/admin/dashboard" class=" text-decoration-none">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Reported Comments</li>
    </ol>
  </nav>

  <div class="table-responsive my-4">
    <table class="table table-bordered" id="table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Blog</th>
          <th>Reported Comment</th>
          <th>Reported By</th>
          <th>Message</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for reported_comment in reported_comments %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{reported_comment['blogs'][0]['blog_title']}}</td>
          <td>{{reported_comment['comment']}}</td>
          <td>{{reported_comment['students'][0]['full_name']}}</td>
          <td>{{reported_comment['message']}}</td>
          <td>
            <button title="Delete this comment"
              onclick="return confirm('Are you sure to delete this comment?') ? deleteComment(`{{reported_comment['blogs'][0]['_id']}}`, `{{reported_comment['comment_id']}}`, `{{reported_comment['reply_id']}}`) : ''"
              class="btn btn-sm btn-danger">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}

{% block scripts %}

<script>
  function deleteComment(blog_id, comment_id, reply_id) {
    $.get('/admin/delete-comment/',
      {
        blog_id: blog_id,
        comment_id: comment_id,
        reply_id: reply_id
      },
      function (result) {
        if (result) {
          window.location.reload();
        }
      })
  }
</script>

{% endblock %}